.Full{
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: radial-gradient(white, black);
	background-attachment: fixed;
}
.Calculator{
	flex-wrap: wrap;
	background-color: rgb(65, 65, 70);
	color: black;
	display: flex;
	max-width: 15vw;
	min-height: 38vh;
	border-style:groove;
	border-width: 5px;
	border-radius: 10px;
	border-color: #919191;
	box-shadow: 1px 1px 1px #919191,
				1px 2px 1px #919191,
				1px 3px 1px #919191,
				1px 4px 1px #919191,
				1px 5px 1px #919191,
				1px 6px 1px #919191,
				1px 7px 1px #919191,
				1px 8px 1px #919191,
				1px 9px 1px #919191,
				1px 10px 1px #919191,
				1px 18px 6px rgba(16,16,16,0.4),
				1px 22px 10px rgba(16,16,16,0.2),
				1px 25px 35px rgba(16,16,16,0.2),
				1px 30px 60px rgba(16,16,16,0.4);
}
.button{
	box-sizing: border-box;
	margin: 1px;
	min-height: 5vh;
	min-width: 3.5vw;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	font-size: 1.5vw;
	box-shadow: 1px 1px 1px black,
				1px 2px 1px black,
				1px 3px 1px black,
				1px 4px 1px black;
}
.Equals{
	background-color: blueviolet; 
}
button:hover{
	background-color: royalblue;
	color: white;
	transition: 0.5s ease-out ;
	cursor: pointer;
}

.Zero{
	width: 7vw;
}

#Screen{
	box-sizing: border-box;
	background-color: rgb(104, 131, 112);
	min-width: 14vw;
	min-height: 5vw;
	border-style:outset;
	border-width: 2px;
	border-color: rgb(100, 100, 128);
	color: black;
	text-align: end;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
	word-wrap:break-word;
	border-radius: 10px;
	margin: 3.5%;
}

.buttons{
	box-sizing: border-box;
	flex-wrap: wrap;
	display: flex;
	align-items:center;
	text-align: center;
	justify-content: space-between;
	justify-content: center;
	background-color: rgb(65, 65, 70);
}

@media only screen and (max-width:900px) {
	.Full{
		margin: 0.1%;
		box-sizing: border-box;
		position: absolute;
	}
	.Calculator{
		flex-wrap: wrap;
		background-color: rgb(65, 65, 70);
		color: black;
		display: flex;
		min-width: 90vw;
		min-height: 90vh;
		border-style:groove;
		border-width: 5px;
		border-radius: 10px;
		border-color: #919191;
		box-shadow: none;
	}	

	.button{
		box-sizing: border-box;
		margin: 1px;
		min-height: 10vh;
		min-width: 20vw;
		border-style: solid;
		border-width: 1px;
		border-radius: 10px;
		font-size: 5vw;
		box-shadow: 1px 1px 1px black,
					1px 2px 1px black,
					1px 3px 1px black,
					1px 4px 1px black;
	}
	.Equals{
		background-color: blueviolet; 
	}
	button:hover{
		background-color: royalblue;
		color: white;
		transition: 0.5s ease-out ;
		cursor: pointer;
	}
	
	.Zero{
		min-width: 40vw;
	}
	
	#Screen{
		box-sizing: border-box;
		background-color: rgb(104, 131, 112);
		min-width: 80vw;
		min-height: 20vw;
		border-style:outset;
		border-width: 2px;
		border-color: rgb(100, 100, 128);
		color: black;
		text-align: end;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 6vh;
		word-wrap:break-word;
		border-radius: 10px;
		margin: 6%;
	}
	
	.buttons{
		box-sizing: border-box;
		flex-wrap: wrap;
		display: flex;
		align-items:center;
		text-align: center;
		justify-content: space-between;
		justify-content: center;
		background-color: rgb(65, 65, 70);
	}
}
